<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="static/stylesheet.css">

        <!-- Hover Dropdown Menus -->
        <style>
            @media all and (min-width: 992px) {
                .navbar .nav-item .dropdown-menu{ display: none; }
                .navbar .nav-item:hover .nav-link{ color: #fff;  }
                .navbar .nav-item:hover .dropdown-menu{ display: block; }
                .navbar .nav-item .dropdown-menu{ margin-top:0; }
            }
        </style>

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/android-chrome-512x512.png">

        <title>David Chu - Main Page</title>
    </head>
  

    <body>
        <!-- Contact -->
        <div id="Contact" class="jumbotron fluid-container" style="padding-top:30px; height:100px; margin-bottom:0px">
            <div class="row">
                <div class="col">
                    
                    <h2>Contact</h2>

                </div>
                <div class="row ml-auto">
                    <a class="col" href="mailto:thedavid.chu@mail.utoronto.ca" target="_blank">Email</a>
                    <a class="col" href="https://www.linkedin.com/in/thedavidchu/" target="_blank">LinkedIn</a>
                    <a class="col" href="https://github.com/thedavidchu/" target="_blank">GitHub</a>
                </div>
            </div>

            <!-- Bottom Credits -->
            <div class="text-center align-bottom">
                <p>Made with &#10084;&#65039; by David Chu, {{ current_year }}</p>
            </div>
        </div>


        <!-- ============================== JAVASCRIPT CODE ============================== -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- ============================== MY CODE ============================== -->
        <!-- Change title -->
        <script src="js/change_title.js"></script>
    </body>
</html>
